<h3>Send SMS</h3>
<div class="row">
    <form action="/sms" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="Phone Number">
                <label for="title">PhoneNumber</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Text</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>